.btnUI {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, sans-serif;
}
/************************************** Like btn start ******************************/
.likeBtn {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.likeBtn::after {
  z-index: -2;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #f6f6f8;
  border-radius: 12px;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.likeBtn svg {
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.likeBtn svg path {
  transition: all 0.2s ease;
}
.likeBtn:hover::after {
  border-radius: 10px;
  background: #ecfcdf;
  transform: scale(0.88);
}
.likeBtn:hover svg path {
  fill: #6ec620;
}
.likeBtn:active svg {
  transform: scale(0.6);
}

.likeBtn span {
  opacity: 1;
  z-index: -99;
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #ecfcdf 100%);
}

/************************************** Like btn end ******************************/

/************************************** Dislike btn start ******************************/
.dislikeBtn {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.dislikeBtn::after {
  z-index: -2;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #f6f6f8;
  border-radius: 12px;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.dislikeBtn svg {
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.dislikeBtn svg path {
  transition: all 0.2s ease;
}
.dislikeBtn:hover::after {
  border-radius: 10px;
  background: #ffefef;
  transform: scale(0.88);
}
.dislikeBtn:hover svg path {
  fill: #fa5959;
}
.dislikeBtn:active svg {
  transform: scale(0.6);
}

.dislikeBtn span {
  opacity: 1;
  z-index: -99;
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #ffefef 100%);
}

/************************************** Like btn end ******************************/

/************************************** Comment btn start ******************************/
.commentBtn {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.commentBtn::after {
  z-index: -2;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #f6f6f8;
  border-radius: 12px;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.commentBtn svg {
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.commentBtn svg path {
  transition: all 0.2s ease;
}
.commentBtn:hover::after {
  border-radius: 10px;
  background: #f8efff;
  transform: scale(0.88);
}
.commentBtn:hover svg path {
  fill: #a886e7;
}
.commentBtn:active svg {
  transform: scale(0.6);
}

.commentBtn span {
  opacity: 1;
  z-index: -99;
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #f8efff 100%);
}

/************************************** Comment btn end ******************************/

/************************************** Comment btn start ******************************/
.shareBtn {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.shareBtn::after {
  z-index: -2;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #f6f6f8;
  border-radius: 12px;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.shareBtn svg {
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.shareBtn svg path {
  transition: all 0.2s ease;
}
.shareBtn:hover::after {
  border-radius: 10px;
  background: #dafbf8;
  transform: scale(0.88);
}
.shareBtn:hover svg path {
  fill: #50d8ab;
}
.shareBtn:active svg {
  transform: scale(0.6);
}

.shareBtn span {
  opacity: 1;
  z-index: -99;
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #dafbf8 100%);
}

/************************************** Comment btn end ******************************/

/************************************** Bookmark btn start ******************************/
.bookmarkBtn {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.bookmarkBtn::after {
  z-index: -2;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #f6f6f8;
  border-radius: 12px;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.bookmarkBtn svg {
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.bookmarkBtn svg path {
  transition: all 0.2s ease;
}
.bookmarkBtn:hover::after {
  border-radius: 10px;
  background: #eff6ff;
  transform: scale(0.88);
}
.bookmarkBtn:hover svg path {
  fill: #7d9fe3;
}
.bookmarkBtn:active svg {
  transform: scale(0.6);
}

.bookmarkBtn span {
  opacity: 1;
  z-index: -99;
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #eff6ff 100%);
}

/************************************** Bookmark btn end ******************************/